.container{
    width: 100%;
    height: 100vh;
    background-color: black;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    @include desde(md){
        flex-direction: row;
        align-items: center;
    }
    &-left{
        height: 80vh;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include desde(sm){
            padding: 80px 80px;
        }
        @include desde(md){
            width: 50%;
            padding-left: 40px;
            padding-top: 40px;
           // height: 100%;
        }
        @include desde(xl){
          margin-left: 7%;
        }
    }
    &-right{
        width: 50%;
        height: 270px;
        bottom: 0;
        right: 0;
        //background-color: tomato;
        position: absolute;
        @include desde(md){
            position: relative;
            width: 50%;
            height: 100%
        }
    }
    &-top{
        display: flex;
        align-items: center;
        //justify-content: space-between;
        @include desde(md){
          margin-top: 20px;
        }
    }
    &-center{
        width: 100%;
        @include desde(sm){
        }
        @include desde(md){
            margin-left: 170px;
        }
        @include desde(lg){
        }
        @include desde(xl){
            padding-left: 70px;
        }
    }
    &-bottom{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        //background-color: teal;
        margin-bottom: 110px;
        z-index: 1;
        @include desde(sm){
            margin-bottom: 50px;
        }
        @include desde(md){
            margin-bottom: 0;
            margin-left: 170px;
            width: calc(100% - 170px);
            margin-bottom: 20px;
            //background-color: teal;
        }
        @include desde(xl){
            margin-left: 250px;
            width: calc(100% - 250px);
        }
    }
}

.enova{
    &-img{
        width: 110px;
        height: auto;
        @include desde(xl){
            width: 160px;
        }
    }
    &-separador{
        color: white;
        margin: 0 15px;
        @include desde(md){
            margin: 0 25px;
        }
        @include desde(xl){
            margin: 0 35px;
        }
    }
    &-slogan{
        text-transform: uppercase;
        color: white;
        letter-spacing: 6px;
        font-weight: 300;
        font-size: 8px;
        @include desde(sm){

        }
        @include desde(xl){
            font-size: 14px;
        }
    }
    &-title{
        letter-spacing: 4px;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 1.9;
        font-weight: 300;
        color: rgba(white, 0);
        @include desde(sm){
          font-size: 26px;
        }
        @include desde(md){
          font-size: 24px;
          line-height: 2.2;
        }
        @include desde(xl){
            font-size: 30px;
        }
    }
    &-btn{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: solid 2px #e1ba65;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @include desde(xl){
            width: 60px;
            height: 60px;
        }
    }
    &-icon{
        color: #e1ba65;
        cursor: pointer;
        @include desde(xl){
            font-size: 24px;
        }
    }

}

@keyframes fadIn {
  0% {
    color: rgba(white, 0);
  }
  100% {
    color: rgba(white, .6);
  }
}

.fadeIn {
   animation: fadIn 2s;
   animation-fill-mode: forwards;
}
